# netbeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
src/principal/Conexion.java
# Class Files #
*.class
# Package Files #
*.jar
*.war
*.java
*.ear